extends ../admin/partials/header
block main
  .all
    h1.sidebar-title Lig Listesi
    .forms 
      .form
      .form
      a(href="/admin/leagues/new").add-new
        i.fas.fa-plus-circle
        h2 Yeni Lig Ekle
    .leagues
      .leagues-content
        each league in leagues 
          .leagueLink
            .League
              .league-top
                h2= league.name
                a.edit-league-record(href="/admin/leagues/edit/?id=" + league.id)
                  i.fas.fa-cog
                a.delete-league-record(href="/admin/leagues/delete/?id=" + league.id onclick="return confirm('Bu lig kaydını silmek istediğinize emin misiniz? Lige ait tüm maçlarda kalıcı olarak silinecektir.')")
                  i.fas.fa-trash
              .league-middle
                .league-date
                  span #{league.date} 
                .league-status(class="" + league.status)
                  span (#{league.status})
              .league-bottom
                .team-item.team-number
                  span.team-item-content #{league.teams.length} kayıtlı takım
                  .triangle
                .team-item.match-number
                  span.team-item-content #{league.matches.length} oynanmış maç
                  .triangle
                .team-item.video-number
                  span.team-item-content #{league.videos.length} yayınlanmış video
                  .triangle
            .league-info
              each team in league.teams 
                .teamLink
                  .Team
                    .team-logo
                      img.team-logo-image(src="/res/schoolLogos/" + team.logo)
                    .team-content
                      .team-content-top
                        h2= team.name
                        a.edit-team-record(href="/admin/teams/edit/?id=" + team.id)
                          i.fas.fa-cog
                        a.delete-team-record(href="/admin/teams/delete/?id=" + team.id onclick="return confirm('Bu lig kaydını silmek istediğinize emin misiniz? Bu işlemi geri alamazsınız.')")
                          i.fas.fa-trash
                      .team-content-bottom
                        .team-item.match-number
                            span.team-item-content #{team.matches.length} oynanmış maç
                        .team-item.player-number
                            span.team-item-content #{team.players.length} kayıtlı oyuncu
            .league-info
              each match in league.matches 
                .personLink
                  .Person
                    .content-item.team-one
                      span #{match.teamOne.name}
                    .content-item.result
                      span #{match.result}
                    .content-item.team-two
                      span #{match.teamTwo.name}
                    .content-item.date
                      span #{match.date}
                    .content-item.league
                      span #{match.league.name}
            .league-info
