extends ../admin/partials/header
block main
  .all
    h1.sidebar-title Maç Listesi
    .forms
      form#name-form(action="/players" method="GET")
        h4 Aradığınız maçın takımlarını girin:
        input.input-name(name="team" placeholder="Takım" autocomplete="off")   
      form#school-form(action="/players" method="GET")
        h4 Aradığınız maçın ligini girin:
        input.input-name(name="league" placeholder="Lig" autocomplete="off") 
      a(href="/admin/matches/new").add-new
        i.fas.fa-plus-circle
        h2 Yeni Maç Ekle
    .players
      .players-header 
        .header-item.header-item-one
        .header-item
        .header-item
        .header-item
        .header-item 
          span Oynandığı lig
      .players-content(id="playersContent")
        each match in matches 
          .personLink
            .Person
              .numberedList
                a.edit-player-record(href="/admin/matches/edit/?id=" + match.id)
                  i.fas.fa-cog
                a.delete-player-record(href="/admin/matches/delete/?id=" + match.id method="POST" onclick="return confirm('Bu maç kaydını silmek istediğinize emin misiniz? Bu işlem geri alınamaz.')")
                  i.fas.fa-trash
              .content-item.team-one
                span #{match.teamOne.name}
              .content-item.result
                span #{match.result}
              .content-item.team-two
                span #{match.teamTwo.name}
              .content-item.date
                span #{match.date}
              .content-item.league
                span #{match.league.name}
