extends ../admin/partials/header
block main
  .all
    h1.sidebar-title Oyuncu Listesi
    .forms
      form#name-form(action="/players" method="GET")
        h4 Aradığınız oyuncunun ismini girin:
        input.input-name(name="name" placeholder="İsim" autocomplete="off")   
      form#school-form(action="/players" method="GET")
        h4 Aradığınız oyuncunun okulunu girin:
        input.input-name(name="school" placeholder="Okul" autocomplete="off") 
      a(href="#").add-new
        i.fas.fa-plus-circle
        h2 Yeni Oyuncu Ekle
    .players
      .players-header 
        .header-item.header-item-one
        .header-item
        .header-item
        .header-item
        .header-item 
          span Gol
        .header-item
          span Asist
      .players-content(id="playersContent")
        each player, index in players 
          a.personLink(href="/players/details/?id=" + player.id)
            .Person
              .numberedList
                span= index+1
              .content-item.name
                span #{player.name}
              .content-item.position
                span #{player.pozisyon}
              .content-item.birthdate
                span #{player.date}
              .content-item.school
                span #{player.team}
              .content-item.gol
                span #{player.gol}
              .content-item.asist 
                span #{player.asist}
