extends ../../../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/de/dashboard").all-header-name scourt
      .user-description
        .user-description-line-first
          span.user-name Hallo, #{user.name.split(" ")[0]}
          img.user-image(src=user.profilePhoto)
        a(href="/de/edit").user-description-line
          span Einstellungen
        a(href="/de/edit/password").user-description-line
          span Veränderung Passwort
        a(href="/de").user-description-line
          span Abmeldung
    .all-content-dashboard
      .content-side-header
        a.header-part-first.team-header-part(href="/de/team")
          span Teamseite
        a.header-part.message-header-part(href="/de/team/messages")
          span Nachrichten
        a.header-part.date-header-part(href="/de/team/calendar")
          span Kalender
        a.header-part.videos-header-part#selected(href="/de/team/videos")
          span Videoanalysen
      .videos-wrapper
        .videos-header-wrapper
          .header-left-side
            h2 Kommentare
            span.header-videos-number für "#{video.name}"
          .header-right-side
            .add-new-video-wrapper
                .add-new-button(for="video")
                  i.fas.fa-plus-circle
                  span.video-upload-info Kommentar schreiben
        .videos-content-wrapper
          .video-content-left-side
            .top-part
              .video-wrapper
                video.video(width="100%" controls) Your browser doesn't support this video format
                  source(src=video.url)
            .bottom-part  
              span.comment-info Klicken Sie auf "Kommentar schreiben” wenn Sie einen Kommentar hinzufügen wollen.
          .video-content-right-side
            form.new-comment-form(action="/de/team/video/comment/new/?id=" + video._id method="post")
              input.time-at-input(type="text" name="time" autocomplete="off")
              .form-header-part
                span.time-at-span um 0.00
                div(title="Click here to tag a player to this comment").tag-one-button
                  span Spieler markieren
              textarea.comment-content-input(required name="content" cols="30" rows="10" placeholder="Ihr Kommentar" autofocus)
              .form-footer-part
                .tagged-players
                  span.tagged-players-span Derzeit 0 Spieler mit diesem Kommentar markiert
                .form-buttons
                  .form-close-button Abbrechen
                  button.form-send-button Hochladen
              .form-players-list
                span.players-list-title Select the players you want to tag:
                each player in team.players
                  .each-player
                    input.each-player-input(type="checkbox" name=player._id value=player._id)
                    span #{player.name}
                    span.player-email-span (#{player.email})
                .players-list-buttons
                  .players-list-close-button Abbrechen
                  .players-list-send-button Ok
            each comment in video.comments.sort(function(a, b) {return a.time - b.time})
              .each-comment
                .go-to-comment-button 
                  i.fas.fa-external-link-square-alt
                span.each-comment-value= comment.time
                span.comment-time-span um #{Math.floor(comment.time / 60) + ":" + Math.floor(comment.time % 60)}
                .tagged-players-comment
                  each player in comment.taggedPlayers
                    span @#{player.name}
                span #{comment.content}
