extends ../partials/head
block content
  .add-new-block
    h2.title Maç Kaydını Düzenle
    form.form(action="/admin/matches/edit" method="POST")
      h4 Maç kaydını düzenlemek için aşağıdaki bilgileri doldurun:
      .form-line
        span Lig:
        select(name="league")
          option(value= match.league.name)= match.league.name
          each league in leagues
            option(value= league._id)= league.name
        span.match-date Maç tarihi
        input(type="text" placeholder="Maç tarihi" autocomplete="off" name="date" value= match.result) 
      .form-line
        .team-one
          span Takım 1:
          select(name="teamOne")
            option(value= match.teamOne.name)= match.teamOne.name
            each team in teams
              option(value= team._id)= team.name
        .match-result
          span.match-date Maç sonucu:
          input(type="text" placeholder="Takım 1 - Takım 2" autocomplete="off" name="result" value= match.result) 
        .team-two
          span Takım 2:
          select(name="teamTwo")
            option(value= match.teamTwo.name)= match.teamTwo.name
            each team in teams
              option(value= team._id)= team.name
      .exit-add-new-block-wrapper
        a(href="/admin/matches").exit-add-new-block Çıkış
        button.add-new-submit(type="submit") Kaydet  
