doctype html
html(lang="tr")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Scourt | #{title}
    if includes && includes.external
      if includes.external.indexOf('fontawesome') > -1
        link(rel="stylesheet",
            href="https://use.fontawesome.com/releases/v5.2.0/css/all.css",
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ",
            crossorigin="anonymous")
      if includes.external.indexOf('js') > -1 
        script(src=`/js/${page}.js`)
    link(rel="stylesheet", href=`/css/${page}.css`)
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
    link(rel="stylesheet", href=`/css/general.css`)
  body
    .content
      block content

