doctype html
html(lang="tr")
  head
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Scourt | #{title}
    if includes && includes.external
      if includes.external.indexOf('fontawesome') > -1
        link(rel="stylesheet",
            href="https://use.fontawesome.com/releases/v5.2.0/css/all.css",
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ",
            crossorigin="anonymous")
      if includes.external.indexOf('js') > -1 
        script(src=`/js/${page}.js`)
      if includes.external.indexOf('socket.io') > -1 
        script(src=`/socket.io/socket.io.js`)
      if includes.external.indexOf('cloudinary') > -1 
        script(src=`https://widget.cloudinary.com/v2.0/global/all.js`)
      if includes.external.indexOf('teamGeneral') > -1
        link(rel="stylesheet", href="/css/app/team/general.css")
      if includes.external.indexOf('teamDeGeneral') > -1
        link(rel="stylesheet", href="/css/de/team/general.css")
    link(rel="stylesheet", href=`/css/${page}.css`)
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
    link(rel="stylesheet", href=`/css/general.css`)
  body
    .content
      block content
