extends ../../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/app/dashboard").all-header-name scourt
      - if(user.type == 'user') {
        a(href="/app/edit").user-description
          span.user-name Hi, #{user.name.split(" ")[0]}
          img.user-image(src="/res/uploads/" + user.profilePhoto)
      - } else {
        a(href="/app/edit/coach").user-description
          span.user-name Hi, #{user.name.split(" ")[0]}
          img.user-image(src="/res/uploads/" + user.profilePhoto)
      - }
    .all-content-dashboard
      .content-side-header
        a.header-part-first.team-header-part#selected(href="/app/team/?id=" + team.teamId)
          span Team Page
        a.header-part.message-header-part(href="/app/team/messages/?id=" + team.teamId)
          span Messages
        a.header-part.date-header-part(href="/app/team/calendar/?id=" + team.teamId)
          span Calendar
        a.header-part.videos-header-part(href="/app/team/videos/?id=" + team.teamId)
          span Video Analyzes
      .team-main-wrapper
        .team-main-header
          h2 #{team.name}
          .team-main-header-explanations
            span.team-main-header-player-number-span #{team.players.length} joined players
            span.team-main-header-created-at-span created at #{team.createdAt}
        .team-main-content
          .team-main-content-left
            .team-picture-wrapper
              img.team-picture(src="/res/uploads/" + team.teamPhoto)
            span.team-header-span Team Description:
            span.team-description "#{team.description}"
            span.team-header-span Team Id:
            span.team-id #{team.teamId}
            span.team-id-explanation You can use this id to invite your team members to your team
          .team-main-content-right
            span.team-header-span Players List:
            .players-list-wrapper 
              each player in team.players
                .each-player-in-team
                  span #{player.name}
                  span.each-player-email (#{player.email})   
