extends ../../partials/head
block content
  input.team-object-value(value= team._id)
  input.user-object-value(value= user._id)
  .mobile-screen-warning-wrapper
    .mobile-screen-warning
      span For the best chatting experience, please allow us to use the full screen mode. Thank you for your understanding.
      .mobile-warning-from
        span Scourt App Team
      .screen-warning-options
        a.screen-warning-not-allow(href="/app/team/?id=" + team.teamId) Cancel
        button.screen-warning-allow Allow
  .all-wrapper
    .all-header
      a(href="/app/dashboard").all-header-name scourt
      - if(user.type == 'user') {
        a(href="/app/edit").user-description
          span.user-name Hi, #{user.name.split(" ")[0]}
          img.user-image(src="/res/uploads/" + user.profilePhoto)
      - } else {
        a(href="/app/edit/coach").user-description
          span.user-name Hi, #{user.name.split(" ")[0]}
          img.user-image(src="/res/uploads/" + user.profilePhoto)
      - }
    .all-content-dashboard
      .content-side-header
        a.header-part-first.team-header-part(href="/app/team/?id=" + team.teamId)
          span Team Page
        a.header-part.message-header-part#selected(href="/app/team/messages/?id=" + team.teamId)
          span Messages
        a.header-part.date-header-part(href="/app/team/calendar/?id=" + team.teamId)
          span Calendar
        a.header-part.videos-header-part(href="/app/team/videos/?id=" + team.teamId)
          span Video Analyzes
      .messages-wrapper
        .messages-block#messages-block
          each message in team.messages
            - let classValue
            - if (message.sender._id.toString() === user._id.toString()) {
            - classValue = 'right';
            - } else {
            - classValue = 'left'; 
            - }
            .each-message(class=classValue)
              .message-sender
                span #{message.sender.name}
              .message-content
                span #{message.content}
        form.new-message-form
          input.message-sender-team-input(type="text" value=team._id)
          input.message-sender-input(type="text" value=user._id)
          input.message-sending-input(type="text", name="message", autocomplete="off", autofocus, placeholder="Your message")
          button.message-sending-button Send
