extends ../../partials/head
block content
  .add-new-training-wrapper
    h2 Add a new training:
    form.training-adding-form(action="/app/team/trainings/add" method="post")
      .form-date-line
        span Date:
        select(name="day")
          - for(let i=1; i<32; i++) {
            option(value=i) #{i}
          - }
        select(name="month")
          - for(let i=1; i<13; i++) {
            option(value=i) #{month[i-1].name}
          - }
        select(name="year")
          option(value=new Date().getFullYear()) #{new Date().getFullYear()}
          option(value=new Date().getFullYear()+1) #{new Date().getFullYear()+1} 
      .form-line
        span Place:
        input.form-place-input(name="place" placeholder="Place" autocomplete="off" autofocus required)
      span Training Informations:
      textarea.form-textarea(name="information", cols="30", rows="7" placeholder="Enter additional informations" required)
      .form-buttons-line
        .exit-add-new-button
          span Exit
        input.send-add-new-button(type="submit" value="Create")
  .all-wrapper
    .all-header
      a(href="/app/dashboard").all-header-name scourt
      .user-description
        .user-description-line-first
          span.user-name Hi, #{user.name.split(" ")[0]}
          img.user-image(src=user.profilePhoto)
        a(href="/app/edit").user-description-line
          span Settings
        a(href="/app/edit/password").user-description-line
          span Change password
        a(href="/").user-description-line
          span Logout
    .all-content-dashboard
      .content-side-header-open-button
        i.fas.fa-bars
        span Menu
      .content-side-header
        a.header-part.team-header-part(href="/app/team")
          span Team Page
        a.header-part.message-header-part(href="/app/team/messages")
          span Messages
        a.header-part.date-header-part(href="/app/team/calendar")
          span Calendar
        a.header-part.videos-header-part(href="/app/team/videos")
          span Video Analysis
        a.header-part.videos-header-part#selected(href="/app/team/trainings")
          span Training Page
      .main-box-wrapper
        .main-box-header
          h2 Training Page
          span.main-box-header-explanations Click a training record to see more detailed informations
        .main-box-content
          .add-new-training-line
            - if (user.type == 'coach') {
            .add-new-training-button
              i.add-new-training-button-i.fas.fa-plus
              span Add a new training
            - }
          .content-new-ones
            span.content-header Coming Ones:
            .trainings-wrapper
              each training in team.trainings
                - if (new Date().getFullYear().toString() < training.date.year || new Date().getMonth().toString() < training.date.month || new Date().getDate().toString() < training.date.day) {
                  .each-training-wrapper
                    .each-training
                      - if (user.type == 'coach') {
                        .each-training-line-justified
                          .div
                          a.delete-training-button(href="/app/team/trainings/delete/?id=" + training._id onclick="return confirm('Are you sure you want to delete this training record?');")
                              i.fas.fa-trash
                      - }
                      .each-training-line-justifed 
                        span.each-training-content-item-header Place: 
                        span.each-training-content-item #{training.place}
                        span.each-training-content-item-header Date: 
                        span.each-training-content-item-color #{training.date.day}/
                        span.each-training-content-item-color #{training.date.month}/
                        span.each-training-content-item-color #{training.date.year}
                      .each-training-line
                        span.each-training-content-item-header Extra Information:
                        span #{training.information}
                      - if (user.type == 'user') {
                        .each-training-line-justified
                          - if (training.comingPlayers.filter(comingUser => comingUser._id == user._id).length > 0) {
                            span.green Currently your are coming to this training
                            a.coming-user-button(href="/app/team/trainings/update/?id=" + training._id)
                              span Change to not coming
                          - } else {
                            span.red Currently your aren't coming to this training
                            a.not-coming-user-button(href="/app/team/trainings/update/?id=" + training._id)
                              span Change to coming
                          - }
                      -  }
                      .each-training-line-justified
                        .each-training-content-line
                          span.each-training-content-item-button #{training.comingPlayers.length} players marked as coming
                          span.each-training-content-item-button #{training.notComingPlayers.length} players marked as not coming
                        span.each-training-show-more-button Show more
                        span.each-training-show-less-button Show less
                    .each-training-more-content
                      span.each-training-more-content-span Coming Players:
                      .more-content-wrapper 
                        each player in training.comingPlayers
                          .each-player-in-team
                            span #{player.name}
                            span.each-player-email (#{player.email})   
                      span.each-training-more-content-span Not Coming Players:
                      .more-content-wrapper 
                        each player in training.notComingPlayers
                          .each-player-in-team
                            span #{player.name}
                            span.each-player-email (#{player.email})     
                - }
          .content-old-ones
            span.content-header Old Trainings
            .trainings-wrapper
              each training in team.trainings
                - if (new Date().getFullYear().toString() >= training.date.year && new Date().getMonth().toString() >= training.date.month && new Date().getDate().toString() > training.date.day) {
                  .each-training-wrapper
                    .each-training
                      - if (user.type == 'coach') {
                        .each-training-line-justified
                          .div
                          a.delete-training-button(href="/app/team/trainings/delete/?id=" + training._id onclick="return confirm('Are you sure you want to delete this training record?');")
                              i.fas.fa-trash
                      - }
                      .each-training-line
                        span.each-training-content-item-header Place: 
                        span.each-training-content-item #{training.place}
                        span.each-training-content-item-header Date: 
                        span.each-training-content-item-color #{training.date.day}/
                        span.each-training-content-item-color #{training.date.month}/
                        span.each-training-content-item-color #{training.date.year}
                      .each-training-line
                        span.each-training-content-item-header Extra Information:
                        span #{training.information}
                      .each-training-line-justified
                        - if (user.type == 'user') {
                          - if (training.comingPlayers.filter(comingUser => comingUser._id == user._id).length > 0) {
                            span.green Currently your are coming to this training
                            a.coming-user-button(href="/app/team/trainings/update/?id=" + training._id)
                              span Change to not coming
                          - } else {
                            span.red Currently your aren't coming to this training
                            a.not-coming-user-button(href="/app/team/trainings/update/?id=" + training._id)
                              span Change to coming
                          - }
                        -  } else {
                          .coach-training-button
                        - }
                      .each-training-line-justified
                        .each-training-content-line
                          span.each-training-content-item-button #{training.comingPlayers.length} players marked as coming
                          span.each-training-content-item-button #{training.notComingPlayers.length} players marked as not coming
                        span.each-training-show-more-button Show more
                        span.each-training-show-less-button Show less
                    .each-training-more-content
                      span.each-training-more-content-span Coming Players:
                      .more-content-wrapper 
                        each player in training.comingPlayers
                          .each-player-in-team
                            span #{player.name}
                            span.each-player-email (#{player.email})   
                      span.each-training-more-content-span Not Coming Players:
                      .more-content-wrapper 
                        each player in training.notComingPlayers
                          .each-player-in-team
                            span #{player.name}
                            span.each-player-email (#{player.email})   
                - }
