extends ../../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/app/dashboard").all-header-name scourt
      .user-description
        .user-description-line-first
          span.user-name Hi, #{user.name.split(" ")[0]}
          img.user-image(src=user.profilePhoto)
        a(href="/app/edit").user-description-line
          span Settings
        a(href="/app/edit/password").user-description-line
          span Change password
        a(href="/").user-description-line
          span Logout
    .all-content-dashboard
      .content-side-header-open-button
        i.fas.fa-bars
        span Menu
      .content-side-header
        a.header-part.team-header-part(href="/app/team")
          span Team Page
        a.header-part.message-header-part(href="/app/team/messages")
          span Messages
        a.header-part.date-header-part(href="/app/team/calendar")
          span Calendar
        a.header-part.videos-header-part#selected(href="/app/team/videos")
          span Video Analysis
      .videos-wrapper
        .videos-header-wrapper
          .header-left-side
            h2 Video Analyzes Page
            span.header-videos-number You can upload #{21 - team.videos.length} more videos
          .header-right-side
            .add-new-video-wrapper
              - if (team.videos.length > 21) {
                .add-new-button-not-allowed
                  i.fas.fa-plus-circle
                  span Upload a new video   
              - } else {
                - if (user.type == 'coach') {
                  a.add-new-button(href="/app/team/videos/new") Upload a new video
                - }
              - }
        .videos-content-wrapper
          each video in team.videos
            - if (video.completed) {
              .each-video-wrapper
                .each-video-left
                  .video-wrapper
                    video.video(controls) Your browser doesn't support this video format
                      source(src=video.url)
                  form(action="/app/team/videos/edit/name/?id=" + video._id method="post").video-name-part-wrapper
                    input(type="text" value=video.name autofocus onclick="this.select()" name="videoName" autocomplete="off").video-name-input
                    span.video-name #{video.name}
                    - if (user.type == 'coach') {
                      i(title="Change the name").fas.fa-edit.video-name-change
                    - }
                  span.video-created-at uploaded at #{video.createdAt}
                  span -
                  a.video-comments(href="/app/team/videos/comments/?id=" + video._id) #{video.comments.length} comments
                .each-video-right
                  - let value = false;
                  - video.comments.forEach(comment => {
                    - if (comment.taggedPlayers.filter(function(e) { return e._id.toString() === user._id.toString(); }).length > 0) {
                      - value = true;
                    - }
                  - }); 
                  - if (value) {
                    .each-video-tagged(title="Your coach tagged you to this video")
                  - } 
                  .icons
                    a.each-icon(href="/app/team/videos/comments/?id=" + video._id)
                      i(title="Write and see comments").fas.fa-comments
                    - if (user.type == 'coach') {
                      a.each-icon(href="/app/team/videos/delete/?id=" + video._id onclick="return confirm('Are you sure you want to delete this video? All comments and analyzes will be deleted permanently.');")
                        i(title="Delete this video record").fas.fa-trash
                    - }  
            - }
             
