extends ../../partials/header
block main
  .all
    .rode
      a.rodePart(href="/leagues") Ligler >
    .all-content
      h2 Takip Ettiğimiz Ligler
      .filter-form
        form.ended(action="/leagues" method="GET")
          input#checkbox-ended(type="checkbox" name="ended")
        span Sadece devam edenleri göster 
      .leagueList
        each record, index in leagues
          - if (record) {
            a(href="/leagues/details/?id=" + record.id)
              .leagues
                .leagueHeader
                  .headerInfo
                    .header-left
                      h2 #{record.name}
                      span #{record.date}
                    .matches
                      h4 En Son Oynanan Maçlar:
                      each match in record.matches.slice(0, 3)
                        .each-match
                          span.matches-feature.matches-date= match.date
                          span.matches-feature.matches-teamOne= match.teamOne.name
                          span.matches-feature.matches-result= match.result
                          span.matches-feature.matches-teamTwo= match.teamTwo.name
                  .headerVideo
                    h3 En son yayınladığımız lig videosu:
                    //- iframe.leagueVideos(src="https://www.youtube.com/embed/" + record.matches[0].get("Video") allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen")
                .leagueContent  
                  span Toplam Maç: #{record.matches.length} 
                  span.condition Durum: #{record.status}
                .details
                  span Detaylar için tıklayın
                  i.fas.fa-info-circle
          - }
      .leagueCommunication 
        span Şimdilik bu kadar ligi takip ediyoruz. Kendi şehrinden ya da okulundan bir ligin takip edilmesini istersen bize bir mail atman yeterli! 
