extends ../partials/header
block main
  .all
    .rode
      a.rodePart.rodeLeagues(href="/english/players") Players > 
      a.rodePart.rodeDetails(href="/english/players/details?id=" + record.id)  #{record.name}
    .all-content
      .player-data
        .player-header
          .header-info
            h1.name= record.name
            .header-bottom
              .header-info-left
                span.age Birth Day: #{record.date}
                span.position Position: #{record.position}
                span.gol Goal: #{record.gol}
                span.asist Assist: #{record.asist}
          .header-image
            - if(record.profile == '-' || !record.profile) {
              img.player-img(src="/res/defaultUserPicture.png")
            - } else { 
              img.player-img(src="/res/" + record.profile)
            - }
        .player-content
          .player-content-header
            button.details-header
              h4.players-header-title Player Details
            button.videos-header
              h4.players-header-title Player Videos
          .details
            .each-detail
              span.detail-name School:
              span.detail-info= record.team 
            .each-detail
              span.detail-name Height:
              span.detail-info= record.boy  
            .each-detail
              span.detail-name Weight:
              span.detail-info= record.kilo
            .each-detail
              span.detail-name Foot:
              span.detail-info= record.ayak    
          .videos
            - if(record.videos) {

            - } else {
              .no-warning 
                span There is no match record yet
            - }
