extends ../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/").all-header-name scourt
    .all-content
      .form
        form.form-left-side(action="/app/edit/image" method="POST" enctype="multipart/form-data")
          label.profile-picture(for="profile")
            img.image(src=user.profilePhoto)
            span.profile-input-explanation Click to change
          input.profile-input(type="file" id="profile" name="profile" accept="image/*")
          - if (err) {
            - if (err==1) {
              .err-message 
                span.err-message-text You can't delete your name or your birthday
            - } else if (err==2) {
              .err-message 
                span.err-message-text Sorry, this email has already been taken
            - }
          - }
        - if (user.type == 'user') {
          form.form-right-side(action="/app/edit" method="POST")
            .form-explanation
              h2 Hi #{user.name.split(' ')[0]},
              span Please change the informations you want to edit.
            .form-part
              span.input-info Your name:
              input(type="text" name="name" autocomplete="off" value=user.name) 
              span.red *
            .form-part
              span.input-info Your email:
              input(type="text" name="email" autocomplete="off" value=user.email) 
              span.red *
            .form-part
              span.input-info Your birthday:
              input(type="text" name="date" placeholder="dd/mm/yyyy" autocomplete="off" value=user.date) 
              span.red *
            .form-part
              span.input-info Your phone number:
              input(type="text" name="phone" autocomplete="off" value=user.phone) 
            .form-submit
              .submit-button
                a.exit-edit-page-button-wrapper(href="/app/dashboard") 
                  i.exit-edit-page-button.fas.fa-arrow-circle-left
                input(type="submit" value="Ok") 
        - } else {
          form.form-right-side(action="/app/edit" method="POST")
            .form-explanation
              h2 Hi #{user.name.split(' ')[0]},
              span Please change the informations you want to edit.
            .form-part
              span.input-info Your name:
              input(type="text" name="name" autocomplete="off" value=user.name) 
              span.red *
            .form-part
              span.input-info Your email:
              input(type="text" name="email" autocomplete="off" value=user.email) 
              span.red *
            .form-part
              span.input-info Your phone number:
              input(type="text" name="phone" autocomplete="off" value=user.phone) 
            .form-submit
              .submit-button
                a.exit-edit-page-button-wrapper(href="/app/dashboard") 
                  i.exit-edit-page-button.fas.fa-arrow-circle-left
                input(type="submit" value="Ok") 
        - }
      
