extends ../partials/header
block main
  .all
    .rode
      a.rodePart.rodeLeagues(href="/german/teams") Teams > 
      a.rodePart.rodeDetails(href="/german/teams/details?id=" + school.id) #{school.name} 
    .all-content
      .school-header
        .header-top
          .school-symbol-wrapper
            img.school-symbol(src="/res/schoolLogos/" + school.logo class="header-" + school.name)
          .school-name
            h3.school-name #{school.name}
        .header-bottom
          .school-players
            h3 Top Five:
            each player, index in school.players.slice(0, 5)
              span.player-names #{index+1}. #{player.name}
          .numbers 
            .player-number
              h3 Players:
              span #{school.players.length}
            .match-number
              h3 Match Number:
              span #{school.matches.length}
          .video-number
            h3 The Number of Videos:
            span= videoNumber
      .school-details
        .details-header
          .matches-header
            h4 All Matches
          .players-header
            h4 All Players
        .details-matches
          - if (school.matches.length > 0) {
            each match in school.matches
              .each-match
                .matches-feature.matches-date            
                  span= match.date
                .matches-feature.matches-teamOne
                  span= match.teamOne.name
                .matches-feature.symbol
                  img.symbol-image(src="/res/schoolLogos/" + match.teamOne.logo class="" + match.teamOne.name) 
                .matches-feature.matches-result
                  span= match.result
                .matches-feature.symbol
                  img.symbol-image.match(src="/res/schoolLogos/" + match.teamTwo.logo class="" + match.teamTwo.name)  
                .matches-feature.matches-teamTwo             
                  span= match.teamTwo.name
          - } else {
            .no-warning 
              span There isn't a played match record for this team
          -}
        .details-players
          - if (school.players.length > 0) {
              h3 Player List:
              each person, index in school.players
                a.personLink(href="/english/players/details/?id=" + person.id)
                  .Person
                    .numberedList
                      span= index+1
                    .content-item.name
                      span #{person.name}
                    .content-item.position
                      span #{person.positionGerman}
                    .content-item.birthdate
                      span #{person.date}
                    .content-item.school
                      span #{person.team}
                    .content-item.gol
                      span #{person.gol}
                    .content-item.asist 
                      span #{person.asist}
          - } else {
              .no-warning 
                span There isn't a player record for this team
          - }
