extends ../../partials/header
block main
  .all
    .rode
      a.rodePart.rodeLeagues(href="/players") Oyuncular >
    .all-content
      h2.sidebar-title Oyuncu Listesi
      .forms
        form#name-form(action="/players" method="GET")
          h4 Aradığınız oyuncunun ismini girin:
          input.input-name(name="name" placeholder="İsim" autocomplete="off")   
        form#school-form(action="/players" method="GET")
          h4 Aradığınız oyuncunun okulunu girin:
          input.input-name(name="school" placeholder="Okul" autocomplete="off")       
      .players
        .players-header 
          .header-item.header-item-one
          .header-item
          .header-item
          .header-item
          .header-item 
            span Gol
          .header-item
            span Asist
        .players-content(id="playersContent")
          each person, index in players 
            a.personLink(href="/players/details/?id=" + person.id)
              .Person
                .numberedList
                  span= index+1
                .content-item.name
                  span #{person.name}
                .content-item.position
                  span #{person.pozisyon}
                .content-item.birthdate
                  span #{person.date}
                .content-item.school
                  span #{person.team}
                .content-item.gol
                  span #{person.gol}
                .content-item.asist 
                  span #{person.asist}
