extends ../../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/").all-header-name scourt
    .all-content
      form.form(action="/app/edit" method="POST" enctype="multipart/form-data")
        .form-left-side
          label.profile-picture(for="profile")
            img.image(src="/res/uploads/" + user.profileFoto)
          input.profile-input(type="file" id="profile" name="profile" accept="image/*")
          - if (err) {
            - if (err==1) {
              .err-message 
                span.err-message-text You can't delete your name and your birthday
            - }
          - }
          .change-password-button Change your password
        .form-right-side
          .form-explanation
            h2 Hi #{user.name.split(' ')[0]},
            span Please change the informations you want to edit.
          .form-part
            span.input-info Your name:
            input(type="text" name="name" autocomplete="off" value=user.name) 
            span.red *
          .form-part
            span.input-info Your email:
            input(type="text" name="email" autocomplete="off" value=user.email) 
            span.red *
          .form-part
            span.input-info Your birthday:
            input(type="text" name="date" placeholder="dd/mm/yyyy" autocomplete="off" value=user.date) 
            span.red *
          .form-part
            span.input-info Your phone number:
            input(type="text" name="phone" autocomplete="off" value=user.phone) 
          .form-submit
            input.submit-button(type="submit" value="Ok") 
      form.password-form(action="/app/edit/password" method="POST")
        .form-part
          span.input-info Your old password:
          input(type="password" name="oldPassword" autocomplete="off" autofocus) 
          span.red *
        .form-part
          span.input-info Your new password:
          input(type="password" name="password" autocomplete="off") 
          span.red *
        .form-part
          span.input-info Confirm your new password:
          input(type="password" name="confirmPassword" autocomplete="off") 
          span.red *
        .form-submit
          .submit-part
            i.password-exit-button.fas.fa-arrow-circle-left
            input.password-submit-button(type="submit" value="Ok")
      
