extends ../../partials/head
block content
  .calendar-adding-new-event-wrapper
    h2 Event hinzufügen:
    form.calendar-adding-form(action="/de/team/calendar/new/?id=" + team._id method="post")
      .calendar-form-left-side
        .calendar-form-part
          select(name="day")
            - for(let i = 0; i<31; i++) {
              option(value=i+1) #{i+1}
            - } 
          select(name="month")
            option(value=new Date().getMonth()) #{month[new Date().getMonth()].name}
            option(value=afterMonth) #{month[afterMonth].name}
            option(value=after2Month) #{month[after2Month].name}
          select(name="year")
            option(value=new Date().getFullYear()) #{new Date().getFullYear()}
            option(value=afterYear) #{afterYear}
        span Name des Events
        input(type="text" placeholder="Name" name="name" autocomplete="off" autofocus required)
        span Notiz hinzufügen
        textarea.text-area(name="description", cols="25", rows="8")
      .calendar-form-right-side
        span Art des Events
        .calendar-form-part
          label
            input.radio-input(type="radio" name="type" value="training" required) 
            span Training
        .calendar-form-part
          label
            input.radio-input(type="radio" name="type" value="match" required) 
            span Spiel
        .calendar-form-part
          label
            input.radio-input(type="radio" name="type" value="todo" required) 
            span To-Do
        .calendar-form-part
          label
            input.radio-input(type="radio" name="type" value="special" required) 
            span Andere
        .calendar-form-send-part
          a.calendar-form-back-button
            i.fas.fa-arrow-circle-left
            span Back
          button.calendar-form-send-button Ok
  .all-wrapper
    .all-header
      a(href="/de/dashboard").all-header-name scourt
      a(href="/de/edit").user-description
        span.user-name Hallo, #{user.name.split(" ")[0]}
        img.user-image(src=user.profilePhoto)
    .all-content-dashboard
        .content-side-header
          a.header-part-first.team-header-part(href="/de/team")
            span Teamseite
          a.header-part.message-header-part(href="/de/team/messages")
            span Nachrichten
          a.header-part.date-header-part#selected(href="/de/team/calendar")
            span Kalender
          a.header-part.videos-header-part(href="/de/team/videos")
            span Videoanalysen
        .calendar-wrapper
          - if (user.type == 'coach') {
            .add-new-event-line 
              .add-new-button
                i.add-new-button-i.fas.fa-plus
                span Event hinzufügen
          - }
          .calendar-month-change-line
            .calendar-three-before-arrow
              .calendar-three-before-button
                i.fas.fa-arrow-circle-left
                - if(new Date().getMonth() > 2) {
                  span #{month[new Date().getMonth()-3].name}
                - } else if (new Date().getMonth() > 1){
                  span #{month[11].name}
                - } else if (new Date().getMonth() > 0){
                  span #{month[10].name}
                - } else {
                  span #{month[9].name}
                - }
            .calendar-two-before-arrow
              .calendar-two-before-button
                i.fas.fa-arrow-circle-left
                - if(new Date().getMonth() > 1) {
                  span #{month[new Date().getMonth()-2].name}
                - } else if (new Date().getMonth()){
                  span #{month[11].name}
                - } else {
                  span #{month[10].name}
                - }
            .calendar-after-two-before-arrow
              .calendar-after-two-before-button
                span #{month[beforeMonth].name}
                i.fas.fa-arrow-circle-right
            .calendar-before-arrow
              .calendar-before-button
                i.fas.fa-arrow-circle-left
                - if(new Date().getMonth()) {
                  span #{month[new Date().getMonth()-1].name}
                - } else {
                  span #{month[11].name}
                - }
            .calendar-after-before-arrow
              .calendar-after-before-button
                span #{month[new Date().getMonth()].name}
                i.fas.fa-arrow-circle-right
            .calendar-before-after-arrow
              .calendar-before-after-button
                i.fas.fa-arrow-circle-left
                span #{month[new Date().getMonth()].name}
            .calendar-after-arrow
              .calendar-after-button
                - if(new Date().getMonth() != 11) {
                  span #{month[new Date().getMonth()+1].name}
                - } else {
                  span #{month[0].name}
                - }
                i.fas.fa-arrow-circle-right
            .calendar-before-two-after-arrow
              .calendar-before-two-after-button
                i.fas.fa-arrow-circle-left
                span #{month[afterMonth].name}
            .calendar-two-after-arrow
              .calendar-two-after-button
                - if(new Date().getMonth() < 10) {
                  span #{month[new Date().getMonth()+2].name}
                - } else if (new Date().getMonth() == 10) {
                  span #{month[0].name}
                - } else {
                  span #{month[1].name}
                - }
                i.fas.fa-arrow-circle-right
            .calendar-three-after-arrow
              .calendar-three-after-button
                - if (new Date().getMonth() < 9) {
                  span #{month[new Date().getMonth()+3].name}
                - } else if (new Date().getMonth() == 9) {
                  span #{month[0].name}
                - } else if (new Date().getMonth() == 10) {
                  span #{month[1].name}
                - } else {
                  span #{month[2].name}
                - }
                i.fas.fa-arrow-circle-right
          .calendar-header
            .calendar-header-part
              span Montag
            .calendar-header-part
              span Dienstag
            .calendar-header-part
              span Mittwoch
            .calendar-header-part
              span Donnerstag
            .calendar-header-part
              span Freitag
            .calendar-header-part
              span Samstag
            .calendar-header-part
              span Sonntag
          .calendar-two-before-main-box
            - if ((((new Date(before2Year, before2Month, 1).getDay() - 3) % 7)) == 0) {
              - for(let i = 0; i < 6; i++) {
                .calendar-each-day
              - }
            - } else {
              - for(let i = 0; i < (new Date(before2Year, before2Month, 1).getDay() - 3); i++) {
                .calendar-each-day
              - }
            - }
            - if (month[before2Month].name == 'February') {
              - if (before2Year % 4 == 0) {
                - for(let i = 1; i <= month[before2Month].day2; i++) {
                  .calendar-each-day
                    .calendar-each-day-header
                      span #{i} #{month[before2Month].name}
                    .calendar-each-day-content
                      each event in team.events
                        - if (event.date.day === i.toString() && event.date.month === before2Month.toString() && event.date.year === before2Year.toString()) {
                          .calendar-each-event(class="each-event-" + event.type)
                            .each-event-line
                              span.each-event-name #{event.name}
                              - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                            .each-event-line
                              span.each-event-note #{event.note}
                        - }
                - }
              - } else {
                - for(let i = 1; i <= month[before2Month].day; i++) {
                  .calendar-each-day
                    .calendar-each-day-header
                      span #{i} #{month[before2Month].name}
                  .calendar-each-day-content
                    each event in team.events
                      - if (event.date.day === i.toString() && event.date.month === before2Month.toString() && event.date.year === before2Year.toString()) {
                        .calendar-each-event(class="each-event-" + event.type)
                          .each-event-line
                            span.each-event-name #{event.name}
                            - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                          .each-event-line
                            span.each-event-note #{event.note}
                      - }
                - }
              - } 
            - } else {
              - for(let i = 1; i <= month[before2Month].day; i++) {
                .calendar-each-day
                  .calendar-each-day-header
                    span #{i} #{month[before2Month].name}
                  .calendar-each-day-content
                    each event in team.events
                      - if (event.date.day === i.toString() && event.date.month === before2Month.toString() && event.date.year === before2Year.toString()) {
                        .calendar-each-event(class="each-event-" + event.type)
                          .each-event-line
                            span.each-event-name #{event.name}
                            - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                          .each-event-line
                            span.each-event-note #{event.note}
                      - }
              - }
            - }
            - for(let i = 0; i < 7 - ((new Date(before2Year, new Date().getMonth(), month[new Date().getMonth()].day).getDay()) % 7); i++) {
              .calendar-each-day
            - }
          .calendar-before-main-box
            - if ((((new Date(beforeYear, beforeMonth, 1).getDay() - 1) % 7)) == 0) {
              - for(let i = 0; i < 6; i++) {
                .calendar-each-day
              - }
            - } else {
              - for(let i = 0; i < (new Date(beforeYear, beforeMonth, 1).getDay() - 1); i++) {
                .calendar-each-day
              - }
            - }
            - if (month[beforeMonth].name == 'February') {
              - if (beforeYear % 4 == 0) {
                - for(let i = 1; i <= month[beforeMonth].day2; i++) {
                  .calendar-each-day
                    .calendar-each-day-header
                      span #{i} #{month[beforeMonth].name}
                    .calendar-each-day-content
                      each event in team.events
                        - if (event.date.day === i.toString() && event.date.month === beforeMonth.toString() && event.date.year === beforeYear.toString()) {
                          .calendar-each-event(class="each-event-" + event.type)
                            .each-event-line
                              span.each-event-name #{event.name}
                              - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                            .each-event-line
                              span.each-event-note #{event.note}
                        - }
                - }
              - } else {
                - for(let i = 1; i <= month[beforeMonth].day; i++) {
                  .calendar-each-day
                    .calendar-each-day-header
                      span #{i} #{month[beforeMonth].name}
                  .calendar-each-day-content
                    each event in team.events
                      - if (event.date.day === i.toString() && event.date.month === beforeMonth.toString() && event.date.year === beforeYear.toString()) {
                        .calendar-each-event(class="each-event-" + event.type)
                          .each-event-line
                            span.each-event-name #{event.name}
                            - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                          .each-event-line
                            span.each-event-note #{event.note}
                      - }
                - }
              - } 
            - } else {
              - for(let i = 1; i <= month[beforeMonth].day; i++) {
                .calendar-each-day
                  .calendar-each-day-header
                    span #{i} #{month[beforeMonth].name}
                  .calendar-each-day-content
                    each event in team.events
                      - if (event.date.day === i.toString() && event.date.month === beforeMonth.toString() && event.date.year === beforeYear.toString()) {
                        .calendar-each-event(class="each-event-" + event.type)
                          .each-event-line
                            span.each-event-name #{event.name}
                            - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                          .each-event-line
                            span.each-event-note #{event.note}
                      - }
              - }
            - }
            - for(let i = 0; i < 7 - ((new Date(beforeYear, new Date().getMonth(), month[new Date().getMonth()].day).getDay()) % 7); i++) {
              .calendar-each-day
            - }
          .calendar-main-box
            - if ((((new Date(new Date().getFullYear(), new Date().getMonth(), 1).getDay() - 1) % 7)) == 0) {
              - for(let i = 0; i < 6; i++) {
                .calendar-each-day
              - }
            - } else {
              - for(let i = 0; i < (new Date(new Date().getFullYear(), new Date().getMonth(), 1).getDay() - 1); i++) {
                .calendar-each-day
              - }
            - }
            - if (month[new Date().getMonth()].name == 'February') {
              - if (new Date().getFullYear() % 4 == 0) {
                - for(let i = 1; i <= month[new Date().getMonth()].day2; i++) {
                  - if (i == new Date().getDate()) {
                    .calendar-each-day
                      .calendar-each-day-header.today
                        span #{i} #{month[new Date().getMonth()].name}
                      .calendar-each-day-content
                        each event in team.events
                          - if (event.date.day === i.toString() && event.date.month === new Date().getMonth().toString() && event.date.year === new Date().getFullYear().toString()) {
                            .calendar-each-event(class="each-event-" + event.type)
                              .each-event-line
                                span.each-event-name #{event.name}
                                - if(user.type == 'coach') {
                                a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                  i.fas.fa-trash.trash-icon
                              - }
                              .each-event-line
                                span.each-event-note #{event.note}
                          - }
                  - } else {
                    .calendar-each-day
                      .calendar-each-day-header
                        span #{i} #{month[new Date().getMonth()].name}
                      .calendar-each-day-content
                        each event in team.events
                          - if (event.date.day === i.toString() && event.date.month === new Date().getMonth().toString() && event.date.year === new Date().getFullYear().toString()) {
                            .calendar-each-event(class="each-event-" + event.type)
                              .each-event-line
                                span.each-event-name #{event.name}
                                - if(user.type == 'coach') {
                                a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                  i.fas.fa-trash.trash-icon
                              - }
                              .each-event-line
                                span.each-event-note #{event.note}
                          - }
                  - }
                - }
              - } else {
                - for(let i = 1; i <= month[new Date().getMonth()].day; i++) {
                  - if (i == new Date().getDate()) {
                    .calendar-each-day
                      .calendar-each-day-header.today
                        span #{i} #{month[new Date().getMonth()].name}
                      .calendar-each-day-content
                        each event in team.events
                          - if (event.date.day === i.toString() && event.date.month === new Date().getMonth().toString() && event.date.year === new Date().getFullYear().toString()) {
                            .calendar-each-event(class="each-event-" + event.type)
                              .each-event-line
                                span.each-event-name #{event.name}
                                - if(user.type == 'coach') {
                                a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                  i.fas.fa-trash.trash-icon
                              - }
                              .each-event-line
                                span.each-event-note #{event.note}
                          - }
                  - } else {
                    .calendar-each-day
                      .calendar-each-day-header
                        span #{i} #{month[new Date().getMonth()].name}
                    .calendar-each-day-content
                      each event in team.events
                        - if (event.date.day === i.toString() && event.date.month === new Date().getMonth().toString() && event.date.year === new Date().getFullYear().toString()) {
                          .calendar-each-event(class="each-event-" + event.type)
                            .each-event-line
                              span.each-event-name #{event.name}
                              - if(user.type == 'coach') {
                                a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                  i.fas.fa-trash.trash-icon
                              - }
                            .each-event-line
                              span.each-event-note #{event.note}
                        - }
                  - }
                - }
              - } 
            - } else {
              - for(let i = 1; i <= month[new Date().getMonth()].day; i++) {
                - if (i == new Date().getDate()) {
                  .calendar-each-day
                    .calendar-each-day-header.today
                      span #{i} #{month[new Date().getMonth()].name}
                    .calendar-each-day-content
                      each event in team.events
                        - if (event.date.day === i.toString() && event.date.month === new Date().getMonth().toString() && event.date.year === new Date().getFullYear().toString()) {
                          .calendar-each-event(class="each-event-" + event.type)
                            .each-event-line
                              span.each-event-name #{event.name}
                              - if(user.type == 'coach') {
                                a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                  i.fas.fa-trash.trash-icon
                              - }
                            .each-event-line
                              span.each-event-note #{event.note}
                        - }
                - } else {
                  .calendar-each-day
                    .calendar-each-day-header
                      span #{i} #{month[new Date().getMonth()].name}
                    .calendar-each-day-content
                      each event in team.events
                        - if (event.date.day === i.toString() && event.date.month === new Date().getMonth().toString() && event.date.year === new Date().getFullYear().toString()) {
                          .calendar-each-event(class="each-event-" + event.type)
                            .each-event-line
                              span.each-event-name #{event.name}
                              - if(user.type == 'coach') {
                                a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                  i.fas.fa-trash.trash-icon
                              - }
                            .each-event-line
                              span.each-event-note #{event.note}
                        - }
                - }
              - }
            - }
            - for(let i = 0; i < 7 - ((new Date(new Date().getFullYear(), new Date().getMonth(), month[new Date().getMonth()].day).getDay()) % 7); i++) {
              .calendar-each-day
            - }
          .calendar-after-main-box
            - if ((((new Date(afterYear, afterMonth, 1).getDay() - 1) % 7)) == 0) {
              - for(let i = 0; i < 6; i++) {
                .calendar-each-day
              - }
            - } else {
              - for(let i = 0; i < (new Date(afterYear, afterMonth, 1).getDay() - 1); i++) {
                .calendar-each-day
              - }
            - }
            - if (month[afterMonth].name == 'February') {
              - if (afterYear % 4 == 0) {
                - for(let i = 1; i <= month[afterMonth].day2; i++) {
                  .calendar-each-day
                    .calendar-each-day-header
                      span #{i} #{month[afterMonth].name}
                    .calendar-each-day-content
                      each event in team.events
                        - if (event.date.day === i.toString() && event.date.month === afterMonth.toString() && event.date.year === afterYear.toString()) {
                          .calendar-each-event(class="each-event-" + event.type)
                            .each-event-line
                              span.each-event-name #{event.name}
                              - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                            .each-event-line
                              span.each-event-note #{event.note}
                        - }
                - }
              - } else {
                - for(let i = 1; i <= month[afterMonth].day; i++) {
                  .calendar-each-day
                    .calendar-each-day-header
                      span #{i} #{month[afterMonth].name}
                    .calendar-each-day-content
                      each event in team.events
                        - if (event.date.day === i.toString() && event.date.month === afterMonth.toString() && event.date.year === afterYear.toString()) {
                          .calendar-each-event(class="each-event-" + event.type)
                            .each-event-line
                              span.each-event-name #{event.name}
                              - if(user.type == 'coach') {
                                a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                  i.fas.fa-trash.trash-icon
                              - }
                            .each-event-line
                              span.each-event-note #{event.note}
                        - }
                - }
              - } 
            - } else {
              - for(let i = 1; i <= month[afterMonth].day; i++) {
                .calendar-each-day
                  .calendar-each-day-header
                    span #{i} #{month[afterMonth].name}
                  .calendar-each-day-content
                    each event in team.events
                      - if (event.date.day === i.toString() && event.date.month === afterMonth.toString() && event.date.year === afterYear.toString()) {
                        .calendar-each-event(class="each-event-" + event.type)
                          .each-event-line
                            span.each-event-name #{event.name}
                            - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                          .each-event-line
                            span.each-event-note #{event.note}
                      - }
              - }
            - }
            - for(let i = 0; i < 7 - ((new Date(afterYear, new Date().getMonth(), month[new Date().getMonth()].day).getDay()) % 7); i++) {
              .calendar-each-day
            - }
          .calendar-two-after-main-box
            - if ((((new Date(after2Year, after2Month, 1).getDay()) % 7) - 1) == 0) {
              - for(let i = 0; i < 6; i++) {
                .calendar-each-day
              - }
            - } else {
              - for(let i = 0; i < (new Date(after2Year, after2Month, 1).getDay() - 1); i++) {
                .calendar-each-day
              - }
            - }
            - if (month[after2Month].name == 'February') {
              - if (after2Year % 4 == 0) {
                - for(let i = 1; i <= month[after2Month].day2; i++) {
                  .calendar-each-day
                    .calendar-each-day-header
                      span #{i} #{month[after2Month].name}
                    .calendar-each-day-content
                      each event in team.events
                        - if (event.date.day === i.toString() && event.date.month === after2Month.toString() && event.date.year === after2Year.toString()) {
                          .calendar-each-event(class="each-event-" + event.type)
                            .each-event-line
                              span.each-event-name #{event.name}
                              - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                            .each-event-line
                              span.each-event-note #{event.note}
                        - }
                - }
              - } else {
                - for(let i = 1; i <= month[after2Month].day; i++) {
                  .calendar-each-day
                    .calendar-each-day-header
                      span #{i} #{month[after2Month].name}
                    .calendar-each-day-content
                      each event in team.events
                        - if (event.date.day === i.toString() && event.date.month === after2Month.toString() && event.date.year === after2Year.toString()) {
                          .calendar-each-event(class="each-event-" + event.type)
                            .each-event-line
                              span.each-event-name #{event.name}
                              - if(user.type == 'coach') {
                                a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                  i.fas.fa-trash.trash-icon
                              - }
                            .each-event-line
                              span.each-event-note #{event.note}
                        - }
                - }
              - } 
            - } else {
              - for(let i = 1; i <= month[after2Month].day; i++) {
                .calendar-each-day
                  .calendar-each-day-header
                    span #{i} #{month[after2Month].name}
                  .calendar-each-day-content
                    each event in team.events
                      - if (event.date.day === i.toString() && event.date.month === after2Month.toString() && event.date.year === after2Year.toString()) {
                        .calendar-each-event(class="each-event-" + event.type)
                          .each-event-line
                            span.each-event-name #{event.name}
                            - if(user.type == 'coach') {
                              a(href="/de/team/calendar/delete/?team=" + team._id + "&id=" + event._id onclick="return confirm('Möchten Sie dieses Event wirklich löschen?');")
                                i.fas.fa-trash.trash-icon
                            - }
                          .each-event-line
                            span.each-event-note #{event.note}
                      - }
              - }
            - }
            - if ((new Date(after2Year, after2Month, month[after2Month].day).getDay()) % 7 != 0) {
              - for(let i = 0; i < 7 - ((new Date(after2Year, after2Month, month[after2Month].day).getDay()) % 7); i++) {
                .calendar-each-day
              - }
            - }
