extends ../../partials/header
block main
  .all
    .rode
      a.rodePart.rodeLeagues(href="/schools") Takımlar > 
      a.rodePart.rodeDetails(href="/schools/details?id=" + school.id) #{school.name} 
    .all-content
      .school-header
        .header-top
          .school-symbol-wrapper
            img.school-symbol(src="/res/schoolLogos/" + school.logo class="header-" + school.name)
          .school-name
            h3.school-name #{school.name}
        .header-bottom
          .school-players
            h3 En İyi Beş:
            each player, index in school.players.slice(0, 5)
              span.player-names #{index+1}. #{player.name}
          .numbers 
            .player-number
              h3 Oyuncu Sayısı:
              span #{school.players.length}
            .match-number
              h3 Toplam Maç Sayısı:
              span #{school.matches.length}
          .video-number
            h3 Scourt Tarafından Yayınlanmış Video Sayısı:
            
            span= videoNumber
      .school-details
        .details-header
          .matches-header
            h4 Tüm Maçlar
          .players-header
            h4 Tüm Oyuncular
        .details-matches
          - if (school.matches.length > 0) {
            each match in school.matches
              .each-match
                .matches-feature.matches-date            
                  span= match.date
                .matches-feature.matches-teamOne
                  span= match.teamOne.name
                .matches-feature.symbol
                  img.symbol-image(src="/res/schoolLogos/" + match.teamOne.logo class="" + match.teamOne.name) 
                .matches-feature.matches-result
                  span= match.result
                .matches-feature.symbol
                  img.symbol-image.match(src="/res/schoolLogos/" + match.teamTwo.logo class="" + match.teamTwo.name)  
                .matches-feature.matches-teamTwo             
                  span= match.teamTwo.name
          - } else {
            .no-warning 
              span Şimdilik bu takımın kaydedilmiş bir maçı görünmüyor
          -}
        .details-players
          - if (school.players.length > 0) {
              h3 Oyuncu Listesi:
              .players-header-info 
                .players-header-item
                .players-gol
                  span Goal
                .players-asist
                  span Assist
              each person, index in school.players
                a.personLink(href="/players/details/?id=" + person.if)
                  .Person
                    .numberedList
                      span= index+1
                    .content-item.name
                      span #{person.name}
                    .content-item.position
                      span #{person.pozisyon}
                    .content-item.birthdate
                      span #{person.date}
                    .content-item.school
                      span #{person.team}
                    .content-item.gol
                      span #{person.gol}
                    .content-item.asist 
                      span #{person.asist}
          - } else {
              .no-warning 
                span Şimdilik bu takım adına bir oyuncu kaydı görünmüyor
          - }
